body {
    max-width: 1280px;
    margin: 0 auto;
    border: 1vw solid red;
}

header {
    display: flex;
    justify-content: space-between; /* Розподіляє кнопки з рівними проміжками */
    align-items: center; /* Вирівнює кнопки по вертикалі */
    flex-wrap: wrap; /* Дозволяє елементам переноситися на новий рядок, якщо бракує місця */
    /* padding: 10px; */
    border: 1vw solid yellow;
}

header a {
    text-decoration: none;
    color: rgb(160, 160, 160); /* Колір тексту */
    padding: 0.25vw 0.5vw;
}

header a:hover {
    text-decoration: underline; /* Підкреслення при наведенні */
}

main {
    border: 1vw solid green;
    padding: 0.5vw;
}